<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="abchotel.Properties.Settings.Setting" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QuanLyKhachSan;Integrated Security=True;Persist Security Info=False;Pooling=False;Encrypt=True; TrustServerCertificate=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>