<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SmtpEmail" value="vienxuanquy82024@gmail.com" />
		<add key="SmtpPassword" value="fukfzijulunfqpze" />

	</appSettings>
    <connectionStrings>
        <add name="abchotel.Properties.Settings.Setting" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QuanLyKhachSan;Integrated Security=True;Persist Security Info=False;Pooling=False;Encrypt=True; TrustServerCertificate=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>